*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #1a1a1a;
    color: #fff;
}

#videos{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow:hidden;
}

.video-player{
    background-color: black;
    width: 60%;
    height: 80%;
    margin: 0 auto;
    object-fit: cover;
}

#user-2{
    display: none;
}

.smallFrame{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 170px;
    width: 300px;
    border-radius: 5px;
    border:2px solid #b366f9;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 999;
}


#controls{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    gap: 1em;
    background-color: rgb(24, 32, 39);
    width: 100%;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 0 10px rgba(255, 255, 255, 0.445);   
}


.control-container{
  background-color: rgb(179, 102, 249, .9);
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control-container img{
    height: 25px;
    width: 25px;
}

#leave-btn{
    background-color: rgb(255,80,80, 1);
}

@media screen and (max-width:600px) {
        .smallFrame{
            height: 80px;
            width: 120px;
        }

        .control-container img{
            height: 20px;
            width: 20px;
        }
}